[Desktop Entry]
Name=VeiL Connect
Comment=VeiL Connect Thin Client
GenericName=Thin Client
Exec=/opt/veil-connect/start_vdi_client.sh
Icon=/opt/veil-connect/veil-connect.ico
Type=Application
StartupNotify=true
Categories=Network;System;
MimeType=text/plain;inode/directory;
Keywords=veil-connect;