Package: veil-connect
Version: %%VER%%
Architecture: amd64
Maintainer: bazalt team <bazalt_dev@mashtab.org>
Depends: spice-client-gtk, libspice-client-gtk-3.0-dev, libjson-glib-dev, libxml2-dev, libsoup2.4-dev, freerdp2-dev, libfreerdp-client2-2, libwinpr2-2, libwinpr2-dev, libhiredis-dev
Section: devel
Priority: extra
Homepage: http://veil.mashtab.org
Description: VeiL Connect.
  (c) 2020 Mashtab
